{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.title }}{% endblock %}

{% block main %}
    <h1>Détails de la catégorie</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ category.title }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categories_index') }}" class="btn btn-secondary">⬅️ Retour à la liste</a>

    {% if isAdmin %}
        <a href="{{ path('app_categories_edit', {'id': category.id}) }}" class="btn btn-primary">✏️ Modifier</a>

        {{ include('categories/_delete_form.html.twig') }}
    {% endif %}
{% endblock main %}
